<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/planninglayout}">
<head>

    <style>
        #select2-group-results {
            min-height: 400px;
        }
        .select2-results {
            min-height: 400px;
        }

        a[class^="groupLink"] {
            display: block;
        }
        .default-plan {
            border: solid thin;
            width: 100%;
            margin-bottom: 10px;
            font-size: 7px;
        }

        table {
            border-collapse: unset !important;
        }

        .default-plan caption {
            padding-bottom: 0.5em;
        }

        .default-plan th, .default-plan td {
            border: solid thin;
            padding: 0.1rem 0;
        }

        .default-plan td {
            direction: rtl;
            overflow: hidden;
        }
        .default-plan tr {
            height: 24px;
        }

        .default-plan th {
            font-weight: normal;
        }

        .default-plan {
            table-layout: fixed;
        }

        .default-plan th {
            padding: 0.2em;
            vertical-align: middle;
            text-align: center;
        }

        .default-plan tbody td:first-child::after {
            content: leader(". ");
        }

        table tr:first-child > td {
            position: sticky;
            top: 0;
        }

        .select2-selection__rendered, .select2-results__option {
            direction: rtl;
            text-align: right;
            font-size: 11px;
        }
        a {
            cursor: pointer;
        }
        .select2-dropdown {
            direction: rtl;
        }

        .bold-cell-lesson {
            border-color: #f25755 !important;
            box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
            border-width: 2px !important;
            background-color: white !important;
        }
        .bold-cell-teacher {
            border-color: blue !important;
            box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 9px 0 rgba(0, 0, 0, 0.19);
            border-width: 2px !important;
            background-color: white !important;
        }

        .select2-container .select2-selection--single .select2-selection__rendered {
            padding-right: 0 !important;
        }

        #groupselect {
            margin-bottom: 20px;
        }

        .multiselect {
            margin: 8px 0;
        }
        .selectBox {
            position: relative;
        }

        .selectBox select {
            width: 100%;
            font-weight: bold;
        }
        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        #checkboxes {
            display: none;
            border: 1px #dadada solid;
            background-color: #e2f7f7;
        }
        #checkboxes label {
            display: block;
        }
        #checkboxes label:hover {
            background-color: #1e90ff;
        }
        .square {
            height: 8px;
            width: 8px;
            display: inline-block;
        }
        #square-teacher {
            background-color: blue;
        }
        #square-lesson {
            background-color: #f25755 ;
        }
    </style>

    <script type="text/javascript" th:inline="javascript">
        //full report
        var result = [[${reports}]];

        var times = ["8T", "10T", "12T", "14T", "16T", "18T"];
        var persianTimes = ["8 تا 10", "10 تا 12", "12 تا 14", "14 تا 16", "16 تا 18", "18 تا 20"];
        var days = ["SHANBE", "YEKSHANBE", "DOSHANBE", "SESHANBE", "CHARSHANBE", "PANJSHANBE"];
        var persianDays = ["شنبه", "یکشنبه", "دوشنبه", "سه شنبه", "چهارشنبه", "پنج شنبه"];
        var classroom = [[${classrooms}]];
        var lessons = [[${lessons}]];
        var teachers = [[${teachers}]];
        var groups = [[${groups}]];
        var showTeacherTimes = [[${teachertimes}]];

        var selectedTimes = [];

        var validErrors = ["ERROR1", "ERROR3", "ERROR4"];

        $(document).ready(function () {
            var list = $("#groupselect select").select2({
                dropdownParent: $("#groupselect"),
                closeOnSelect: false
            }).on("select2:closing", function(e) {
                e.preventDefault();
            }).on("select2:closed", function(e) {
                list.select2("open");
            });

            var checkboxes = $( ':checkbox' );
            checkboxes.prop( 'checked', true );

            $( '#error2' ).prop( 'checked', false );

            document.getElementById("sidebar-toggle-link").click();

            $('#base-sidebar li:eq(4)').addClass('active');

            if(selectedTimes.length === 0) {
                fullSelectedTimes(result);
            }

            create_default_plan("default-plan1");
            create_default_plan("default-plan2");
            create_default_plan("default-plan3");
            create_default_plan("default-plan4");
            create_default_plan("default-plan5");
            create_default_plan("default-plan6");
            set_options();
            highlightGroups();
            highlight_cell("default-plan1");
            highlight_cell("default-plan2");
            highlight_cell("default-plan3");
            highlight_cell("default-plan4");
            highlight_cell("default-plan5");
            highlight_cell("default-plan6");

            var allProblems = getAllGroupProblems();
            $('#groupAllProblems').html(allProblems);

        });

        $(document).on('keyup', '.select2-search__field', function (e) {
            highlightGroups();
        });

        function set_group() {
            event.preventDefault();

            create_default_plan("default-plan1");
            create_default_plan("default-plan2");
            create_default_plan("default-plan3");
            create_default_plan("default-plan4");
            create_default_plan("default-plan5");
            create_default_plan("default-plan6");

            highlight_cell("default-plan1");
            highlight_cell("default-plan2");
            highlight_cell("default-plan3");
            highlight_cell("default-plan4");
            highlight_cell("default-plan5");
            highlight_cell("default-plan6");

            var groupSelect = document.getElementById("group").value;
            var problem = findAndGetGroupProblems(groupSelect);
            $('#groupProblem').html(problem);
        }

        function getGroupJalasatPorShode(specificGroupId) {
            var groupCount = 0;
            for (var i = 0; i < selectedTimes.length; i++) {
                if (selectedTimes[i] != null) {
                    if (selectedTimes[i].groupId === specificGroupId) {
                        groupCount = groupCount + 1;
                    }
                }
            }

            return groupCount;
        }

        function checkWarningSelection(highlightTime) {
            if (highlightTime != null && selectedTimes.length > 0) {
                var groupJalaseNumber = 0;

                for (var j = 0; j < groups.length; j++) {
                    if (groups[j].groupId === highlightTime.groupId) {
                        groupJalaseNumber = groups[j].jalaseNumber;
                        break;
                    }
                }

                var warnMessage1 = "";
                var warnMessage2 = "";
                var groupCount = 0;
                for (var i = 0; i < selectedTimes.length; i++) {
                    if (selectedTimes[i] != null) {
                        if (validErrors.includes("ERROR2") && selectedTimes[i].classroomId === highlightTime.classroomId && selectedTimes[i].day === highlightTime.day && selectedTimes[i].time === highlightTime.time && selectedTimes[i].weekType === highlightTime.weekType) {
                            if(checkLessonTerms(selectedTimes[i].lessonId, highlightTime.lessonId) === true) {
                                warnMessage1 = "در این ساعت، کلاس توسط درس دیگری رزرو شده است.\n";
                            }
                        }
                        if (validErrors.includes("ERROR4") && selectedTimes[i].day === highlightTime.day && selectedTimes[i].time === highlightTime.time && selectedTimes[i].weekType === highlightTime.weekType && selectedTimes[i].grade === highlightTime.grade) {
                            var sameTerm = checkSameLessonTerms(selectedTimes[i].lessonId, highlightTime.lessonId);
                            if(sameTerm != null && sameTerm !== 0) {
                                warnMessage2 = warnMessage2 + "این درس با درس " + selectedTimes[i].name + " برای ترم " + sameTerm + " در یک زمان برگزار می شود.\n";
                            }
                        }
                        if (selectedTimes[i].groupId === highlightTime.groupId) {
                            groupCount = groupCount + 1;
                        }
                    }
                }

                if (groupCount >= groupJalaseNumber && validErrors.includes("ERROR3"))
                    return warnMessage1 + warnMessage2 + " تعداد زمان انتخاب شده، بیشتر از تعداد جلسه مشخص شده آن خواهد شد.\n";
                else return warnMessage1 + warnMessage2;
            }
        }

        function checkIgnoreSelection(highlightTime) {
            if (validErrors.includes("ERROR1") && highlightTime != null && selectedTimes.length > 0) {
                for (var i = 0; i < selectedTimes.length; i++) {
                    if (selectedTimes[i] != null) {
                        if (selectedTimes[i].teacherId === highlightTime.teacherId && selectedTimes[i].day === highlightTime.day && selectedTimes[i].time === highlightTime.time && selectedTimes[i].weekType === highlightTime.weekType) {
                            if(checkLessonTerms(selectedTimes[i].lessonId, highlightTime.lessonId) === true) {
                                return "درس دیگری در این زمان برای استاد ثبت شده است.";
                            }
                        }
                    }
                }
            }

            return "";
        }

        function checkSameLessonTerms(lesson1Id, lesson2Id) {
            var terms1 = [], terms2 = [];

            for(var ll = 0; ll < lessons.length; ll++) {
                if(lessons[ll].id === lesson1Id)
                    terms1 = lessons[ll].term;
                if(lessons[ll].id === lesson2Id)
                    terms2 = lessons[ll].term;
            }

            if(terms1.includes(1) && terms2.includes(1))
                return 1;
            else if (terms1.includes(2) && terms2.includes(2))
                return 2;
            else if (terms1.includes(3) && terms2.includes(3))
                return 3;
            else if (terms1.includes(4) && terms2.includes(4))
                return 4;
            else if (terms1.includes(5) && terms2.includes(5))
                return 5;
            else if (terms1.includes(6) && terms2.includes(6))
                return 6;
            else if (terms1.includes(7) && terms2.includes(7))
                return 7;
            else if (terms1.includes(8) && terms2.includes(8))
                return 8;

            return 0;
        }

        function checkLessonTerms(lesson1Id, lesson2Id) {
            var terms1 = [], terms2 = [];

            for(var ll = 0; ll < lessons.length; ll++) {
                if(lessons[ll].id === lesson1Id)
                    terms1 = lessons[ll].term;
                if(lessons[ll].id === lesson2Id)
                    terms2 = lessons[ll].term;
            }

            if(terms1.includes(1) || terms1.includes(3) || terms1.includes(5) || terms1.includes(7)) {
                if(terms2.includes(1) || terms2.includes(3) || terms2.includes(5) || terms2.includes(7)) {
                    return true;
                }
            }

            if(terms1.includes(2) || terms1.includes(4) || terms1.includes(6) || terms1.includes(8)) {
                if(terms2.includes(2) || terms2.includes(4) || terms2.includes(6) || terms2.includes(8)) {
                    return true;
                }
            }

            return false
        }

        function highlight_cell(tableIdInFile) {
            var clickOnLink = false;
            var table = document.getElementById(tableIdInFile);
            var alinks = table.getElementsByTagName('a');
            var cells = table.getElementsByTagName('td');

            for (var i = 0; i < alinks.length; i++) {
                // Take each cell
                var alink = alinks[i];

                alink.onclick = function () {
                    var groupSelect = document.getElementById("group").value;
                    if(groupSelect != null && groupSelect > 0) {
                        clickOnLink = true;
                    }
                        // Get the row id where the cell exists
                        var rowId = this.parentNode.parentNode.rowIndex;
                        if (rowId >= 2 && this.parentNode.cellIndex < 2 * times.length) {
                            var classId = (rowId - 1) % classroom.length - 1;
                            if (classId < 0) classId = classroom.length - 1;
                            var classroomId = classroom[classId].id;
                            var time = times[Math.round((2 * times.length - this.parentNode.cellIndex) / 2) - 1];
                            var dayId = tableIdInFile.toString().substring(12) - 1;
                            var day = days[dayId];

                            var groupIdLink = this.getAttribute("class");
                            if (groupIdLink != null && groupIdLink.length > 9)
                                groupIdLink = groupIdLink.substring(9);

                            var weekType = '';
                            if (this.parentNode.cellIndex % 2 === 0)
                                weekType = "FARD";
                            else weekType = "ZOJ";

                            var checkTime = selectedTimes.filter(selectedTime => (selectedTime.groupId == groupIdLink && selectedTime.classroomId === classroomId && selectedTime.time === time && selectedTime.day === day && selectedTime.weekType === weekType));
                            if (checkTime.length) {
                                if (confirm("برای حذف این ساعت مطمعن هستید؟")) {
                                    this.innerHTML = "";
                                    this.style.display = "none";
                                    var index;
                                    selectedTimes.some(function (entry, i) {
                                        if (entry.groupId == groupIdLink && entry.classroomId === classroomId && entry.time === time && entry.day === day && entry.weekType === weekType) {
                                            index = i;
                                            return true;
                                        }
                                    });
                                    delete proxy[index];

                                    //send data to backend
                                    handleClickPlanning();

                                    var allProblems = getAllGroupProblems();
                                    $('#groupAllProblems').html(allProblems);
                                }
                            }
                        }
                    // }
                    highlightGroups();
                }
            }

            for (var i = 0; i < cells.length; i++) {
                // Take each cell
                var cell = cells[i];
                // do something on onclick event for cell
                cell.onclick = function () {
                    var groupSelect = document.getElementById("group").value;

                    if(groupSelect !== null && groupSelect > 0 && !clickOnLink) {
                        var teacherSelect = null;
                        var lessonSelectId = null;
                        var lessonSelectName = null;
                        if (groupSelect != null) {
                            for (var i = 0; i < groups.length; i++) {
                                if (groupSelect == groups[i].groupId) {
                                    teacherSelect = groups[i].teacherId;
                                    lessonSelectId = groups[i].lessonId;
                                    lessonSelectName = groups[i].lesson;
                                    break;
                                }
                            }
                        }

                        // Get the row id where the cell exists
                        var rowId = this.parentNode.rowIndex;
                        if (rowId >= 2 && this.cellIndex < 2 * times.length) {
                            var classId = (rowId - 1) % classroom.length - 1;
                            if (classId < 0) classId = classroom.length - 1;
                            var classroomId = classroom[classId].id;
                            var groupId = parseInt(document.getElementById("group").value);
                            var time = times[Math.round((2 * times.length - this.cellIndex) / 2) - 1];
                            var dayId = tableIdInFile.toString().substring(12) - 1;
                            var day = days[dayId];
                            var name = $("#group option:selected").text();
                            var grade = getLessonGrade(groupId);
                            var weekType = '';
                            if (this.cellIndex % 2 === 0)
                                weekType = "FARD";
                            else weekType = "ZOJ";
                            var highlightTime = {
                                classroomId: classroomId,
                                lessonId: lessonSelectId,
                                name: lessonSelectName,
                                teacherId: teacherSelect,
                                groupId: groupId,
                                time: time,
                                day: day,
                                weekType: weekType,
                                name: name,
                                grade: grade
                            };

                            var warningSelection = checkWarningSelection(highlightTime);
                            var ignoreSelection = checkIgnoreSelection(highlightTime);

                            if (ignoreSelection != null && ignoreSelection.length > 0)
                                alert(ignoreSelection);
                            else {
                                var a = document.createElement('a');
                                var link;
                                if (warningSelection != null && warningSelection.length > 0) {
                                    if (confirm(warningSelection + " آیا مطمئن هستید؟")) {
                                        link = document.createTextNode($("#group option:selected").text());
                                        a.title = $("#group option:selected").text();
                                        a.style.padding = "2px 0";
                                        a.style.color = "#313761";
                                        a.setAttribute("class", "groupLink" + groupId);

                                        a.appendChild(link);
                                        this.appendChild(a);
                                        selectedTimes.push(highlightTime);

                                        //send data to backend
                                        handleClickPlanning();
                                        highlight_cell(tableIdInFile);

                                        var allProblems = getAllGroupProblems();
                                        $('#groupAllProblems').html(allProblems);
                                    }
                                } else {
                                    link = document.createTextNode($("#group option:selected").text());
                                    a.title = $("#group option:selected").text();
                                    a.style.padding = "2px 0";
                                    a.style.color = "#313761";
                                    a.setAttribute("class", "groupLink" + groupId);

                                    a.appendChild(link);
                                    this.appendChild(a);
                                    selectedTimes.push(highlightTime);

                                    //send data to backend
                                    handleClickPlanning();
                                    highlight_cell(tableIdInFile);

                                    var allProblems = getAllGroupProblems();
                                    $('#groupAllProblems').html(allProblems);
                                }
                            }
                        }
                    }
                    highlightGroups();
                }
            }
        }

        // "delete" is triggered when an element is removed from the selectedTimes array.
        var proxy = new Proxy(selectedTimes, {
            deleteProperty: function (target, property) {
                delete target[property];
                return true;
            },
        });

        function create_default_plan(tableIdInFile) {
            var groupSelect = document.getElementById("group").value;

            var teacherSelect = null;
            var lessonSelect = null;
            var termSelect = null;
            if(groupSelect != null) {
                for (var i = 0; i < groups.length; i++) {
                    if(groupSelect == groups[i].groupId) {
                        teacherSelect = groups[i].teacherId;
                        lessonSelect = groups[i].lessonId;
                        termSelect = groups[i].term;
                        break;
                    }
                }
            }

            var defaultPlan = document.getElementById(tableIdInFile);
            defaultPlan.innerHTML = "";

            //create thead
            var header = defaultPlan.createTHead();
            var row = header.insertRow(0);
            row.style.position = "sticky";
            row.style.top = "0px";
            row.style.backgroundColor = "rgb(178 251 255)";
            row.style.zIndex = "900";
            row.style.fontSize = "9px";
            row.style.height= "19px";
            var cell = row.insertCell(0);
            cell.innerHTML = "روز";
            cell.style.fontWeight = "bold";
            cell.rowSpan = 2;
            var cell2 = row.insertCell(0);
            cell2.innerHTML = "کلاس";
            cell2.style.fontWeight = "bold";
            cell2.rowSpan = 2;
            for (var i = 0; i < times.length; i++) {
                var cell3 = row.insertCell(0);
                cell3.innerHTML = persianTimes[i];
                cell3.style.fontWeight = "bold";
                cell3.style.backgroundColor = "rgb(178 251 255)";
                cell3.style.direction = "rtl";
                cell3.colSpan = 2;
                cell3.style.fontSize = "9px";
            }
            var row2 = header.insertRow(1);
            row2.style.position = "sticky";
            row2.style.top = "24px";
            row2.style.backgroundColor = "#a9caf4";
            row2.style.zIndex = "900";
            row2.style.fontSize = "9px"
            row2.style.height= "19px";
            for (var j = 0; j < times.length; j++) {
                var cell4 = row2.insertCell(0);
                cell4.innerHTML = "زوج";
                cell4.style.fontWeight = "bold";
                cell4.style.fontSize = "9px";
                var cell5 = row2.insertCell(0);
                cell5.innerHTML = "فرد";
                cell5.style.fontWeight = "bold";
                cell5.style.fontSize = "9px";
            }

            //create tbody
            var n = null;
            if(tableIdInFile === "default-plan1")
                n = 0;
            else if(tableIdInFile === "default-plan2")
                n = 1;
            else if(tableIdInFile === "default-plan3")
                n = 2;
            else if(tableIdInFile === "default-plan4")
                n = 3;
            else if(tableIdInFile === "default-plan5")
                n = 4;
            else if(tableIdInFile === "default-plan6")
                n = 5;


            if(n != null) {
                for (var m = 0; m < classroom.length; m++) {           //loop on classrooms
                    var row3 = defaultPlan.insertRow();
                    var cell6 = row3.insertCell(0);
                    cell6.innerHTML = persianDays[n];
                    cell6.style.position = "sticky";
                    cell6.style.right = "0px";
                    cell6.style.fontWeight = "bold";
                    cell6.style.backgroundColor = "antiquewhite";
                    var cell7 = row3.insertCell(0);
                    cell7.innerHTML = classroom[m].name;
                    cell7.style.position = "sticky";
                    cell7.style.right = "48px";
                    cell7.style.fontWeight = "bold";
                    cell7.style.backgroundColor = "antiquewhite";
                    for (var t = 0; t < times.length; t++) {         //loop on times
                        var cell8 = row3.insertCell(0);
                        cell8.style.paddingTop = "3em";
                        cell8.style.paddingBottom = "3em";
                        var cell9 = row3.insertCell(0);
                        cell9.style.paddingTop = "3em";
                        cell9.style.paddingBottom = "3em";

                        if(teacherSelect != null) {
                            for (var tt = 0; tt < showTeacherTimes.length; tt++) {//loop on showTeacherTimes
                                if (showTeacherTimes[tt].time === days[n] + times[t] && showTeacherTimes[tt].teacherId == teacherSelect) {
                                    if(showTeacherTimes[tt].priority == 1) {
                                        cell8.style.border = "1px solid green";
                                        cell9.style.border = "1px solid green";
                                        cell8.style.backgroundColor = "rgb(203 245 189)";
                                        cell9.style.backgroundColor = "rgb(203 245 189)";
                                    }
                                    else if(showTeacherTimes[tt].priority == 2) {
                                        cell8.style.border = "1px solid #c3c303";
                                        cell9.style.border = "1px solid #c3c303";
                                        cell8.style.backgroundColor = "rgb(253 253 190)";
                                        cell9.style.backgroundColor = "rgb(253 253 190)";
                                    }
                                    else if(showTeacherTimes[tt].priority == 3) {
                                        cell8.style.border = "1px solid red";
                                        cell9.style.border = "1px solid red";
                                        cell8.style.backgroundColor = "rgb(239 187 187)";
                                        cell9.style.backgroundColor = "rgb(239 187 187)";
                                    }

                                }
                            }
                        }

                        for (var b = 0; b < selectedTimes.length; b++) {          //loop on selectedTimes
                            if(selectedTimes[b] !== undefined) {
                                if (selectedTimes[b].time === times[t] && selectedTimes[b].day === days[n] && selectedTimes[b].classroomId === classroom[m].id) {
                                    var a = document.createElement('a');
                                    a.setAttribute("class", "groupLink" + selectedTimes[b].groupId);
                                    var link;
                                    if (selectedTimes[b].weekType === "ZOJ") {
                                        link = document.createTextNode(selectedTimes[b].name);
                                        a.title = selectedTimes[b].name + " (" + selectedTimes[b].lastName + ")";
                                        a.style.padding = "2px 0";
                                        a.style.color = "#313761";

                                        if(cell8.innerHTML !== "")
                                            a.style.borderTop = "1px dashed";

                                        a.appendChild(link);
                                        cell8.appendChild(a);;
                                        if (selectedTimes[b].groupId == groupSelect)
                                            cell8.className = 'bold-cell-lesson';
                                        else if (selectedTimes[b].groupId != groupSelect && teacherSelect != null && teacherSelect === selectedTimes[b].teacherId && lessonSelect != null && checkLessonTerms(selectedTimes[b].lessonId, lessonSelect) === true) {
                                            if(!cell8.classList.contains("bold-cell-lesson"))
                                                cell8.classList.add('bold-cell-teacher');
                                        }
                                    } else if (selectedTimes[b].weekType === "FARD") {
                                        link = document.createTextNode(selectedTimes[b].name);
                                        a.title = selectedTimes[b].name + " (" + selectedTimes[b].lastName + ")";
                                        a.style.padding = "2px 0";
                                        a.style.color = "#313761";

                                        if(cell9.innerHTML !== "")
                                            a.style.borderTop = "1px dashed";

                                        a.appendChild(link);
                                        cell9.appendChild(a);
                                        if (selectedTimes[b].groupId == groupSelect)
                                            cell9.className = 'bold-cell-lesson';
                                        else if (selectedTimes[b].groupId != groupSelect && teacherSelect != null && teacherSelect === selectedTimes[b].teacherId && lessonSelect != null && checkLessonTerms(selectedTimes[b].lessonId, lessonSelect) === true) {
                                            if(!cell9.classList.contains("bold-cell-lesson"))
                                                cell9.classList.add('bold-cell-teacher');
                                        }
                                    }
                                }
                            }
                        }

                    }

                }
            }
        }

        function set_options() {
            var selectGroup = document.getElementById("group");
            for (var i = 0; i < groups.length; i++) {
                var option = document.createElement("option");
                if (groups[i].lastName != null && groups[i].lastName !== "")
                    option.text = groups[i].name + ' - ' + groups[i].lastName;
                else option.text = groups[i].name;
                if (groups[i].number != null && groups[i].number > 0)
                    option.text = option.text + " - گروه " + groups[i].number;

                option.value = groups[i].groupId;
                selectGroup.add(option);
            }
        }

        function highlightGroups() {
            $("#group").select2('open');

            var countGroup = 0;

            $('[id^=select2-group-result-]').each(function () {
                var jalasatPorShode = getGroupJalasatPorShode(groups[countGroup].groupId);

                var firstParantez = this.innerHTML.indexOf("(");
                if(firstParantez != null && firstParantez > 0)
                    this.innerHTML = this.innerHTML.substring(0, this.innerHTML.indexOf("(")) + " (" + jalasatPorShode + " از " + groups[countGroup].jalaseNumber + ")";
                else
                    this.innerHTML = this.innerHTML + " (" + jalasatPorShode + " از " + groups[countGroup].jalaseNumber + ")";

                if(jalasatPorShode > groups[countGroup].jalaseNumber)
                    this.style.backgroundColor = "red";
                else if(jalasatPorShode === groups[countGroup].jalaseNumber)
                    this.style.backgroundColor = "green";

                countGroup++;
            });
        }

        function handleClickPlanning() {
            event.preventDefault();

            var jsonCellTables = '[';

            var planId = [[${planId}]];

            for (var i = 0; i < selectedTimes.length; i++) {
                if (selectedTimes[i] != null) {
                    var jsonCellTable = '{"classroomId": ' + selectedTimes[i].classroomId +
                        ', "groupId": ' + selectedTimes[i].groupId +
                        ',"time": "' + selectedTimes[i].day + selectedTimes[i].time + '"' +
                        ',"weekType": "' + selectedTimes[i].weekType + '"}';


                    jsonCellTables = jsonCellTables + jsonCellTable + ',';
                }
            }

            if (jsonCellTables.length > 1)
                jsonCellTables = jsonCellTables.substring(0, jsonCellTables.length - 1) + ']';
            else
                jsonCellTables = jsonCellTables + ']';

            $.ajax({
                type: "POST",
                url: '/api/plan/' + planId + "/planning",
                data: jsonCellTables,
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (response) {
            })
            .fail(function (response) {
                alert(JSON.parse(response.responseText).message);
            })
        }

        function fullSelectedTimes(result) {
            for (var i = 0; i < result.length; i++) {
                var highlightTime = {
                    classroomId: result[i].classroomId,
                    groupId: result[i].groupId,
                    lessonId: result[i].lessonId,
                    teacherId: result[i].teacherId,
                    time: result[i].time.substring(result[i].time.search(/\d/)),
                    day: result[i].time.substring(0, result[i].time.search(/\d/)),
                    weekType: result[i].weekType,
                    name: result[i].name,
                    lastName: result[i].lastName,
                    grade: result[i].grade
                };
                selectedTimes.push(highlightTime);
            }
        }

        var expanded = false;
        function showCheckboxes() {
            var checkboxes = document.getElementById("checkboxes");
            if (!expanded) {
                checkboxes.style.display = "block";
                expanded = true;
            } else {
                checkboxes.style.display = "none";
                expanded = false;
            }
        }

        function filterClick() {
            validErrors = [];

            if ($('#error1').is(':checked')) {
                validErrors.push("ERROR1");
            }
            if ($('#error2').is(':checked')) {
                validErrors.push("ERROR2");
            }
            if ($('#error3').is(':checked')) {
                validErrors.push("ERROR3");
            }
            if ($('#error4').is(':checked')) {
                validErrors.push("ERROR4");
            }

            var allProblems = getAllGroupProblems();
            $('#groupAllProblems').html(allProblems);
        }

        function getLessonGrade(groupId) {
            for (var i = 0; i < groups.length; i++) {
                if (groups[i] != null) {
                    if (groups[i].groupId === groupId) {
                        return groups[i].grade;
                    }
                }
            }

            return "";
        }

        function getDay(enumDay) {
            if(enumDay === "SHANBE")
                return "شنبه";
            else if(enumDay === "YEKSHANBE")
                return "یکشنبه";
            else if(enumDay === "DOSHANBE")
                return "دوشنبه";
            else if(enumDay === "SESHANBE")
                return "سه شنبه";
            else if(enumDay === "CHARSHANBE")
                return "چهارشنبه";
            else if(enumDay === "PANJSHANBE")
                return "پنجشنبه";
            return "...";
        }
        function getTime(enumTime) {
            if(enumTime === "8T")
                return "8 تا 10";
            else if(enumTime === "10T")
                return "10 تا 12";
            else if(enumTime === "12T")
                return "12 تا 14";
            else if(enumTime === "14T")
                return "14 تا 16";
            else if(enumTime === "16T")
                return "16 تا 18";
            else if(enumTime === "18T")
                return "18 تا 20";
            return "...";
        }
        function getGroupProblems(highlightTime, index) {
            var warnMessage1 = "";
            var warnMessage2 = "";
            var warnMessage3 = "";
            var warnMessage4 = "";

            for (var i = 0; i < selectedTimes.length; i++) {
                if (selectedTimes[i] != null) {
                    if(selectedTimes[i].groupId != highlightTime.groupId) {
                        if (validErrors.includes("ERROR2") && selectedTimes[i].classroomId === highlightTime.classroomId && selectedTimes[i].day === highlightTime.day && selectedTimes[i].time === highlightTime.time && selectedTimes[i].weekType === highlightTime.weekType) {
                            if (checkLessonTerms(selectedTimes[i].lessonId, highlightTime.lessonId) === true) {
                                warnMessage1 = warnMessage1 + "<i class='fas fa-arrow-circle-left' style='color:blue;margin-left:2px;'></i>" + "تداخل کلاسی با درس " + selectedTimes[i].name + " در روز " + getDay(selectedTimes[i].day) + " ساعت " + getTime(selectedTimes[i].time) + "<br />";
                            }
                        }
                        if (validErrors.includes("ERROR4") && selectedTimes[i].day === highlightTime.day && selectedTimes[i].time === highlightTime.time && selectedTimes[i].weekType === highlightTime.weekType && selectedTimes[i].grade === highlightTime.grade) {
                            var sameTerm = checkSameLessonTerms(selectedTimes[i].lessonId, highlightTime.lessonId);
                            if (sameTerm != null && sameTerm !== 0) {
                                warnMessage2 = warnMessage2 + "<i class='fas fa-arrow-circle-left' style='color:blue;margin-left:2px;'></i>" + "تداخل زمانی با درس " + selectedTimes[i].name + " برای ترم " + sameTerm + " در روز " + getDay(selectedTimes[i].day) + " ساعت " + getTime(selectedTimes[i].time) + "<br />";
                            }
                        }
                        if (validErrors.includes("ERROR1") && selectedTimes[i].teacherId === highlightTime.teacherId && selectedTimes[i].day === highlightTime.day && selectedTimes[i].time === highlightTime.time && selectedTimes[i].weekType === highlightTime.weekType) {
                            if (checkLessonTerms(selectedTimes[i].lessonId, highlightTime.lessonId) === true) {
                                warnMessage3 = warnMessage3 + "<i class='fas fa-arrow-circle-left' style='color:blue;margin-left:2px;'></i>" + "تداخل زمان استاد درس با درس " + selectedTimes[i].name + " در روز " + getDay(selectedTimes[i].day) + " ساعت " + getTime(selectedTimes[i].time) + "<br />";
                            }
                        }
                    }
                    // else {
                    //     if (index !== i) {
                    //         warnMessage4 = "چند مورد از این گروه در این زمان ثبت شده است!";
                    //     }
                    // }
                }
            }

            return warnMessage1 + warnMessage2 + warnMessage3;
        }
        function findAndGetGroupProblems(groupId) {
            var problems = "";
            if (groupId != null && selectedTimes.length > 0) {
                for (var i = 0; i < selectedTimes.length; i++) {
                    if (selectedTimes[i] != null) {
                        if (selectedTimes[i].groupId == groupId) {
                            problems = problems + getGroupProblems(selectedTimes[i], i);
                        }
                    }
                }
            }

            return problems
        }

        function getAllGroupProblems() {
            var problems = "";
            if (selectedTimes.length > 0) {
                for (var i = 0; i < selectedTimes.length; i++) {
                    if (selectedTimes[i] != null) {
                        var groupProblem = getGroupProblems(selectedTimes[i], i);

                        if (groupProblem != null && groupProblem !== "") {
                            problems = problems + "<b>" +
                                selectedTimes[i].name + "(" + getDay(selectedTimes[i].day) + getTime(selectedTimes[i].time) + (selectedTimes[i].weekType == "ZOJ" ? "زوج" : "فرد") + ")" + ":"
                                + "</b>" + "<br />" + groupProblem;
                        }
                    }
                }
            }

            return problems
        }
    </script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header th:replace="layouts/planninglayout :: header"></header>
    <aside th:replace="layouts/planninglayout :: links"></aside>

    <div class="content-wrapper" layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                برنامه ریزی
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/plandashboard/{id}(id = ${planId})}"><i class="fa fa-dashboard"></i> داشبورد</a></li>
                <li class="active">برنامه ریزی</li>
            </ol>
        </section>


        <!-- Main content -->
        <section class="content container-fluid" style="padding: 30px 5px 5px 5px; margin-top: 10px;">

            <div class="card">
                <div class="row" style="width: 100%; outline: none; margin: 0 auto 20px auto;">
                    <div class="col-sm-3" style="font-size: 0.8em;">
                        <div style="margin-bottom: 25px; font-size: 1.2em;">
                            <div class="col-sm-4" style="padding-right: 0;">
                                <div class="square" id="square-lesson"></div>
                                <span>گروه</span>
                            </div>
                            <div class="col-sm-4">
                                <div class="square" id="square-teacher"></div>
                                <span>استاد</span>
                            </div>
                        </div>
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes()">
                                <select>
                                    <option>فیلتر بر اساس خطاها</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxes">
                                <label th:for="error1"><input type="checkbox" onclick="filterClick()" th:id="error1" th:value="error1" th:text="'تداخل' + ' ' + 'زمان' + ' ' + 'دروس' + ' ' + 'یک' + ' ' + 'استاد'" /></label>
                                <label th:for="error2"><input type="checkbox" onclick="filterClick()" th:id="error2" th:value="error2" th:text="'همزمانی' + ' ' + 'دروس' + ' ' + 'در' + ' ' + 'یک' + ' ' + 'کلاس'" /></label>
                                <label th:for="error3"><input type="checkbox" onclick="filterClick()" th:id="error3" th:value="error3" th:text="'سقف' + ' ' + 'تعداد' + ' ' + 'جلسه' + ' ' + 'هر' + ' ' + 'درس'" /></label>
                                <label th:for="error4"><input type="checkbox" onclick="filterClick()" th:id="error4" th:value="error4" th:text="'همزمانی' + ' ' + 'دروس' + ' ' + 'با' + ' ' + 'ترم' + ' ' + 'مشابه'" /></label>
                            </div>
                        </div>
                        <div id="groupselect" style="position: relative; height: 450px;">
                            <select id="group" class="select2" name="group" data-width="100%" required onchange="set_group()">
                                <option value="">یک گروه را انتخاب کنید...</option>
                            </select>
                        </div>
                        <div style="font-size: 7px; border: 1px solid; margin: 5px 0; padding: 2px 5px; clear: both;" id = "groupProblem">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <table class="default-plan" id="default-plan1" style="direction: ltr;text-align: center;width: -moz-available">
                        </table>
                        <table class="default-plan" id="default-plan2" style="direction: ltr;text-align: center;width: -moz-available">
                        </table>
                        <table class="default-plan" id="default-plan3" style="direction: ltr;text-align: center;width: -moz-available">
                        </table>
                        <table class="default-plan" id="default-plan4" style="direction: ltr;text-align: center;width: -moz-available">
                        </table>
                        <table class="default-plan" id="default-plan5" style="direction: ltr;text-align: center;width: -moz-available">
                        </table>
                        <table class="default-plan" id="default-plan6" style="direction: ltr;text-align: center;width: -moz-available">
                        </table>

                        <div style="font-size: 8px; border: 1px solid; margin: 5px 0; padding: 2px 5px;" id = "groupAllProblems">
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <aside th:replace="layouts/planninglayout :: footer"></aside>
    <aside th:replace="layouts/planninglayout :: settings"></aside>
    <aside th:replace="layouts/planninglayout :: sidebar"></aside>
</div>


<!-- Bootstrap 3.3.7 -->
<script th:src="@{../bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- App -->
<script th:src="@{../dist/js/adminlte.min.js}"></script>

</body>

</html>