<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/planninglayout}">
<head>

    <style>
        #datatable_wrapper {
            width: 80%;
            margin: auto;
        }

        .pagination {
            float: left;
        }

        #datatable {
            border-radius: 5px;
            overflow: hidden;
        }

        #datatable th, #datatable td {
            padding: 10px;
        }

        #datatable tr {
            border-radius: 10px;
        }

        .form-group {
            margin: 20px 0;
        }

        .form-style-1 {
            max-width: 400px;
            padding: 20px 12px 10px 20px;
            font-size: 11px;
        }

        .form-style-1 li {
            padding: 0;
            display: block;
            list-style: none;
            margin: 10px 0 0 0;
        }

        .form-style-1 label {
            margin: 0 0 3px 0;
            padding: 0px;
            display: block;
            font-weight: bold;
        }

        form-style-1 .field-divided {
            width: 49%;
        }

        .form-style-1 .field-long {
            width: 100%;
        }

        .form-style-1 .field-select {
            width: 100%;
        }

        .form-style-1 .field-textarea {
            height: 100px;
        }


        #plan-table, #default-plan {
            border: solid thin;
            font-size: 9px;
        }

        table {
            border-collapse: unset !important;
        }

        #plan-table caption, #default-plan caption {
            padding-bottom: 0.5em;
        }

        #plan-table th, #plan-table td, #default-plan th, #default-plan td {
            border: solid thin;
            padding: 0.5rem 0.5rem;
        }

        #plan-table td, #default-plan td {
            white-space: nowrap;
        }

        #plan-table th, #default-plan th {
            font-weight: normal;
        }

        #plan-table td, #default-plan td {
            vertical-align: top;
        }

        #plan-table th, #default-plan th {
            padding: 0.2em;
            vertical-align: middle;
            text-align: center;
        }

        #plan-table tbody td:first-child::after, #default-plan tbody td:first-child::after {
            content: leader(". ");
        }

        #plan-table td {
            height: 35px;
            vertical-align: middle;
        }

        table tr:first-child > td {
            position: sticky;
            top: 0;
        }

        .select2-selection__rendered, .select2-results__option {
            direction: rtl;
            text-align: right;
            font-size: 11px;
        }

    </style>

    <script type="text/javascript" th:inline="javascript">
        //full report
        var result = [[${reports}]];

        var times = ["730O", "9O", "1030O", "12O", "1330O", "15O", "1630O", "18O"];
        var persianTimes = ["7:30 تا 9", "9 تا 10:30", "10:30 تا 12", "12 تا 13:30", "13:30 تا 15", "15 تا 16:30", "16:30 تا 18", "18 تا 19:30"];
        var days = ["SHANBE", "YEKSHANBE", "DOSHANBE", "SESHANBE", "CHARSHANBE", "PANJSHANBE"];
        var persianDays = ["شنبه", "یکشنبه", "دوشنبه", "سه شنبه", "چهارشنبه", "پنج شنبه"];
        var classroom = [[${classrooms}]];
        var lessons = [[${lessons}]];
        var teachers = [[${teachers}]];
        var showTeacherTimes = [[${teachertimes}]];

        var selectedTimes = [];

        $(document).ready(function () {
            $("select").select2({
                dropdownParent: $("#myModalCreate")
            });
            $('#base-sidebar li:eq(3)').addClass('active');

            create_default_plan();
            set_options();

            $('.nBtn, .table .eBtn').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');
                var text = $(this).attr('name');
                //for update plan
                if (text == 'edit') {
                } else {
                    if(selectedTimes.length === 0) {
                        for (var i = 0; i < result.length; i++) {
                            var highlightTime = {
                                classroomId: result[i].classroomId,
                                teacherId: result[i].teacherId,
                                lessonId: result[i].lessonId,
                                time: result[i].time.substring(result[i].time.search(/\d/)),
                                day: result[i].time.substring(0, result[i].time.search(/\d/)),
                                name: result[i].name,
                                lastName: result[i].lastName
                            };
                            selectedTimes.push(highlightTime);
                        }
                    }
                    //for creating plan
                    $('.myFormCreate #myModalCreate').modal();
                }
            });
            //for delete plan
            $('.table .delBtn').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');
                $('#removeModalCenter #delRef').attr('href', href);
                $('#removeModalCenter').modal();
            });
        });

        function checkWarningSelection(highlightTime) {
            if(highlightTime != null && selectedTimes.length > 0) {
                var lessonUnit = 0;

                for(var j = 0; j < lessons.length; j++) {
                    if(lessons[j].id === highlightTime.lessonId) {
                        lessonUnit = lessons[j].unit;
                        break;
                    }
                }
                if(lessonUnit === "ZERO")
                    lessonUnit = 0;
                else if(lessonUnit === "ONE")
                    lessonUnit = 1;
                else if(lessonUnit === "TWO")
                    lessonUnit = 1;
                else if(lessonUnit === "THREE")
                    lessonUnit = 2;
                else if(lessonUnit === "FOUR")
                    lessonUnit = 2;

                var lessonCount = 0;
                for (var i = 0; i < selectedTimes.length; i++) {
                    if(selectedTimes[i] != null) {
                        if (selectedTimes[i].lessonId === highlightTime.lessonId) {
                            lessonCount = lessonCount + 1;
                        }
                    }
                }

                if(lessonCount >= lessonUnit)
                    return "تعداد زمان انتخاب شده برای درس، بیشتر از واحد آن خواهد شد.";
                else return "";
            }
        }

        function checkIgnoreSelection(highlightTime) {
            if(highlightTime != null && selectedTimes.length > 0) {
                for (var i = 0; i<selectedTimes.length; i++) {
                    if(selectedTimes[i] != null) {
                        if (selectedTimes[i].teacherId === highlightTime.teacherId && selectedTimes[i].day === highlightTime.day && selectedTimes[i].time === highlightTime.time) {
                            return "درس دیگری در این زمان برای استاد ثبت شده است.";
                        }
                    }
                }
            }

            return "";
        }

        function highlight_cell() {
            var table = document.getElementById('plan-table');
            var cells = table.getElementsByTagName('td');

            for (var i = 0; i < cells.length; i++) {
                // Take each cell
                var cell = cells[i];
                // do something on onclick event for cell
                cell.onclick = function () {
                    // Get the row id where the cell exists
                    var rowId = this.parentNode.rowIndex;

                    if (rowId >= 1 && this.cellIndex < times.length) {
                        var classroomId = classroom[rowId - 1].id;
                        var teacherId = parseInt(document.getElementById("teacher").value);
                        var lessonId = parseInt(document.getElementById("lesson").value);
                        var time = times[times.length - this.cellIndex - 1];
                        var day = document.getElementById("day").value;
                        var name = $("#lesson option:selected").text();
                        var lastName = $("#teacher option:selected").text();
                        var highlightTime = {classroomId: classroomId, teacherId: teacherId, lessonId: lessonId, time: time, day: day, name: name, lastName: lastName};

                        var checkTime = selectedTimes.filter(selectedTime => (selectedTime.classroomId === classroomId && selectedTime.time === time && selectedTime.day === day));
                        // if this time is not selected, then select
                        if (!checkTime.length) {
                            var warningSelection = checkWarningSelection(highlightTime);
                            var ignoreSelection = checkIgnoreSelection(highlightTime);

                            if(ignoreSelection != null && ignoreSelection.length > 0)
                                alert(ignoreSelection);
                            else {
                                if (warningSelection != null && warningSelection.length > 0) {
                                    if (confirm(warningSelection + " آیا مطمئن هستید؟")) {
                                        this.style.backgroundColor = "yellow";
                                        this.innerHTML = $("#lesson option:selected").text() + " (" + $("#teacher option:selected").text() + ")";
                                        selectedTimes.push(highlightTime);
                                    }
                                } else {
                                    this.style.backgroundColor = "yellow";
                                    this.innerHTML = $("#lesson option:selected").text() + " (" + $("#teacher option:selected").text() + ")";
                                    selectedTimes.push(highlightTime);
                                }
                            }
                        }
                        // if this time is selected before, then deselect (double click = deselect)
                        else {
                            if (confirm("برای حذف این ساعت مطمعن هستید؟")) {
                                if(this.style.borderColor != "green")
                                    this.style.backgroundColor = "white";
                                else
                                    this.style.backgroundColor = "#c6ffb3";
                                this.innerHTML = "";
                                var index;
                                selectedTimes.some(function (entry, i) {
                                    if (entry.classroomId === classroomId && entry.time === time && entry.day === day) {
                                        index = i;
                                        return true;
                                    }
                                });
                                delete proxy[index];
                            }
                        }
                    }
                }
            }
        }

        // "delete" is triggered when an element is removed from the selectedTimes array.
        var proxy = new Proxy(selectedTimes, {
            deleteProperty: function (target, property) {
                // remove deselected time
                var ul = document.getElementById('selectedTimesList');

                if (target.length === 0)
                    ul.removeChild(ul.children[0]);

                delete target[property];
                return true;
            },
        });

        function create_default_plan() {
            var defaultPlan = document.getElementById("default-plan");
            //create thead
            var header = defaultPlan.createTHead();
            var row = header.insertRow(0);
            row.style.position = "sticky";
            row.style.top = "0px";
            row.style.backgroundColor = "rgb(178 251 255)";
            row.style.zIndex = "900";
            var cell = row.insertCell(0);
            cell.innerHTML = "روز";
            cell.style.fontWeight = "bold";
            var cell2 = row.insertCell(0);
            cell2.innerHTML = "کلاس";
            cell2.style.fontWeight = "bold";
            for (var i = 0; i < times.length; i++) {
                var cell3 = row.insertCell(0);
                cell3.innerHTML = persianTimes[i];
                cell3.style.fontWeight = "bold";
                cell3.style.backgroundColor = "rgb(178 251 255)";
                cell3.style.direction = "rtl";
            }
            //create tbody
            for (var n = 0; n < days.length; n++) {                     //loop on days
                for (var m = 0; m < classroom.length; m++) {           //loop on classrooms
                    var row3 = defaultPlan.insertRow();
                    var cell6 = row3.insertCell(0);
                    cell6.innerHTML = persianDays[n];
                    cell6.style.position = "sticky";
                    cell6.style.right = "0px";
                    cell6.style.fontWeight = "bold";
                    cell6.style.backgroundColor = "antiquewhite";
                    var cell7 = row3.insertCell(0);
                    cell7.innerHTML = classroom[m].name;
                    cell7.style.position = "sticky";
                    cell7.style.right = "48px";
                    cell7.style.fontWeight = "bold";
                    cell7.style.backgroundColor = "antiquewhite";
                    for (var t = 0; t < times.length; t++) {         //loop on times
                        var cell8 = row3.insertCell(0);
                        for (var b = 0; b < result.length; b++) {          //loop on result
                            if (result[b].time === days[n] + times[t] && result[b].classroomName === classroom[m].name) {
                                cell8.innerHTML = result[b].name + " (" + result[b].lastName + ")";
                            }
                        }

                    }

                }
            }
        }

        function set_options() {
            var selectLesson = document.getElementById("lesson");
            for (var i = 0; i < lessons.length; i++) {
                var option = document.createElement("option");
                option.text = lessons[i].name;
                option.value = lessons[i].id;
                option.style.textAlign = "right";
                selectLesson.add(option);
            }

            var selectTeacher = document.getElementById("teacher");
            for (var i = 0; i < teachers.length; i++) {
                var option = document.createElement("option");
                option.text = teachers[i].firstName + ' ' + teachers[i].lastName;
                option.value = teachers[i].id;
                selectTeacher.add(option);
            }

            var selectDay = document.getElementById("day");
            for (var i = 0; i < days.length; i++) {
                var option = document.createElement("option");
                option.text = persianDays[i];
                option.value = days[i];
                selectDay.add(option);
            }

        }

        function create_plan_table() {
            var lessonSelect = document.getElementById("lesson");
            var teacherSelect = document.getElementById("teacher");
            var daySelect = document.getElementById("day");

            if (lessonSelect.value != 0 && teacherSelect.value != 0 && daySelect.value != 0) {
                var planTable = document.getElementById("plan-table");
                planTable.deleteTHead();
                //create thead
                var header = planTable.createTHead();
                var row = header.insertRow(0);
                row.style.position = "sticky";
                row.style.top = "0px";
                row.style.backgroundColor = "rgb(178 251 255)";
                row.style.zIndex = "99999";
                row.style.fontWeight = "bold";
                var cell = row.insertCell(0);
                cell.innerHTML = "روز";
                cell.style.fontWeight = "bold";
                var cell2 = row.insertCell(0);
                cell2.innerHTML = "کلاس";
                cell2.style.fontWeight = "bold";
                for (var i = 0; i < times.length; i++) {
                    var cell3 = row.insertCell(0);
                    cell3.innerHTML = persianTimes[i];
                    cell3.style.fontWeight = "bold";
                    cell3.style.backgroundColor = "rgb(178 251 255)";
                    cell3.style.direction = "rtl";
                }
                //create tbody
                for (var n = 0; n < days.length; n++) {                     //loop on days
                    if (days[n] === document.getElementById('day').value) {
                        for (var m = 0; m < classroom.length; m++) {           //loop on classrooms
                            var row3 = planTable.insertRow();
                            var cell6 = row3.insertCell(0);
                            cell6.innerHTML = persianDays[n];
                            cell6.style.position = "sticky";
                            cell6.style.right = "0px";
                            cell6.style.fontWeight = "bold";
                            cell6.style.backgroundColor = "antiquewhite";
                            var cell7 = row3.insertCell(0);
                            cell7.innerHTML = classroom[m].name;
                            cell7.style.fontWeight = "bold";
                            cell7.style.position = "sticky";
                            cell7.style.right = "41px";
                            cell7.style.backgroundColor = "antiquewhite";
                            for (var t = 0; t < times.length; t++) {         //loop on times
                                var cell8 = row3.insertCell(0);
                                //show teacher times:
                                for (var tt = 0; tt < showTeacherTimes.length; tt++) {//loop on showTeacherTimes
                                    if (showTeacherTimes[tt].time === days[n] + times[t] && showTeacherTimes[tt].teacherId == parseInt(document.getElementById("teacher").value)) {
                                        cell8.style.border = "1px solid green";
                                        cell8.style.backgroundColor = "#c6ffb3";
                                    }
                                }

                                //show planning:
                                for (var b = 0; b < selectedTimes.length; b++) {//loop on result
                                    if (selectedTimes[b] != null) {
                                        if (selectedTimes[b].day + selectedTimes[b].time === days[n] + times[t] && selectedTimes[b].classroomId === classroom[m].id) {
                                            cell8.innerHTML = selectedTimes[b].name + " (" + selectedTimes[b].lastName + ")";
                                        }
                                    }
                                }
                                // if now select then highlight
                                var checkTime = selectedTimes.filter(selectedTime => (selectedTime.classroomId === classroom[m].id && selectedTime.time === times[t] && selectedTime.day === days[n]));
                                if (checkTime.length) {
                                    for (var k = 0; k < checkTime.length; k++) {
                                        cell8.style.backgroundColor = "yellow";
                                    }
                                }
                            }

                        }
                    }
                }
                highlight_cell();
            }
        }

        function handleClickPlanning() {
            event.preventDefault();

            var jsonCellTables = '[';

            var planId = [[${planId}]];

            for (var i = 0; i < selectedTimes.length; i++) {
                if(selectedTimes[i] != null) {
                    var jsonCellTable = '{"teacherId": ' + selectedTimes[i].teacherId +
                        ', "classroomId": ' + selectedTimes[i].classroomId +
                        ', "lessonId": ' + selectedTimes[i].lessonId +
                        ',"time": "' + selectedTimes[i].day + selectedTimes[i].time + '"}';


                    jsonCellTables = jsonCellTables + jsonCellTable + ',';
                }
            }

            if(jsonCellTables.length > 1)
                jsonCellTables = jsonCellTables.substring(0, jsonCellTables.length - 1) + ']';
            else
                jsonCellTables = jsonCellTables + ']';

            console.log(jsonCellTables);
            selectedTimes = [];
            $.ajax({
                type: "POST",
                url: '/api/plan/' + planId + "/planning",
                data: jsonCellTables,
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done (function (response) {
                alert("برنامه ریزی با موفیت ذخیره شد.");
                $('.myFormCreate #myModalCreate').modal('hide');
                location.reload();
            })
            .fail(function(response) {
                alert(JSON.parse(response.responseText).message);
                $('.myFormCreate #myModalCreate').modal('hide');
                location.reload();
            })
        }
    </script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header th:replace="layouts/planninglayout :: header"></header>
    <aside th:replace="layouts/planninglayout :: links"></aside>

    <div class="content-wrapper" layout:fragment="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                برنامه ریزی
            </h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/plandashboard/{id}(id = ${planId})}"><i class="fa fa-dashboard"></i> داشبورد</a></li>
                <li class="active">برنامه ریزی</li>
            </ol>
        </section>


        <!-- Main content -->
        <section class="content container-fluid" style="padding: 30px; margin-top: 10px;">

            <div class="card">
                <div class="row" style="width: 100%; outline: none; margin: 0 auto 20px auto;">
                    <div class="col-sm-12" style="padding: 0;">
                        <button class="btn btn-primary nBtn">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                            <span style="margin: 5px;">ویرایش برنامه ریزی</span>
                        </button>
                    </div>
                </div>
                <div style="overflow-x:auto;overflow-y: auto;">
                    <table id="default-plan" style="direction: ltr;text-align: center">
                    </table>
                </div>

            </div>

            <!--#Modal form for plan update-->
            <div class="myFormUpdate">
                <form th:action="@{/plan/update}" method="post">
                    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
                         aria-labelledby="updateModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="border-radius: 5px; overflow: hidden;">
                                <div class="modal-header" style="background-color: #ecebeb;">
                                    <h5 class="modal-title" id="updateModalLabel" style="display: inline;">ویرایش
                                        برنامه</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            style="outline: none;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="id" name="id" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-form-label">نام</label>
                                        <input type="text" class="form-control" id="name" name="name" value=""
                                               style="border-radius: 2px;"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="timeType" class="col-form-label">زمانبندی</label>
                                                <select name="timeType" id="timeType" disabled>
                                                    <option value="TWO_HOURS">2 ساعت</option>
                                                    <option value="ONE_THIRTY_HOURS">1 ساعت و 30 دقیقه</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn" data-dismiss="modal" style="outline: none;">
                                        انصراف
                                    </button>
                                    <input type="submit" class="btn btn-primary" value="ویرایش" style="outline: none;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--End update form-->

            <!--#Modal for plan create-->
            <div class="myFormCreate">
                <form onSubmit="JavaScript:handleClickPlanning()">
                    <div class="modal fade" id="myModalCreate" tabindex="-1"  role="dialog"
                         aria-labelledby="modalLabelCreate" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="width: 95%;">
                            <div class="modal-content" style="border-radius: 5px; overflow: hidden;">
                                <div class="modal-header" style="background-color: #ecebeb;">
                                    <h5 class="modal-title" id="updateModalLabel" style="display: inline;">ویرایش برنامه ریزی</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="outline: none;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="padding: 25px 10px;">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-style-1">
                                                <div style="margin-bottom: 15px;">
                                                    <label>درس </label>
                                                    <select id="lesson" name="lesson" data-width="80%" onchange="create_plan_table()">
                                                        <option value="">یک درس را انتخاب کنید...</option>
                                                    </select>
                                                </div>
                                                <div style="margin-bottom: 15px;">
                                                    <label>استاد </label>
                                                    <select id="teacher" name="teacher"  data-width="80%" onchange="create_plan_table()">
                                                        <option value="">یک استاد را انتخاب کنید...</option>
                                                    </select>
                                                </div>
                                                <div style="margin-bottom: 15px;">
                                                    <label>روز هفته </label>
                                                    <select id="day" name="day" data-width="80%" onchange="create_plan_table()">
                                                        <option value="">یک روز را انتخاب کنید...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div style="overflow-x:auto;">
                                                <table id="plan-table" style="direction: ltr;text-align: center; margin: 0 auto;">

                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="showSelectedTimes"></div>
                                    <div class="modal-footer" style="padding: 15px 0;">
                                        <button type="button" class="btn btn" data-dismiss="modal"
                                                style="outline: none;">انصراف
                                        </button>
                                        <input type="submit" class="btn btn-primary" value="ذخیره"
                                               style="outline: none;"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--End form-->

            <!-- #Modal for removing plan -->
            <div class="modal fade" id="removeModalCenter" tabindex="-1" role="dialog"
                 aria-labelledby="removeModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content" style="border-radius: 5px; top: 30px; overflow: hidden;">
                        <div class="modal-header" style="background-color: #ecebeb;">
                            <h5 class="modal-title" id="deleteModalLabel" style="display: inline;">حذف برنامه</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    style="outline: none;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>آیا از حذف برنامه اطمینان دارید؟</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn" data-dismiss="modal" style="outline: none;">انصراف
                            </button>
                            <a href="" class="btn btn-primary" id="delRef" style="outline: none;">تایید</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--#Modal form for update planning-->
            <div class="myFormCopy">
                <form th:action="@{/plan/copy}" method="post">
                    <div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="copyModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="border-radius: 5px; top: 30px; overflow: hidden;">
                                <div class="modal-header" style="background-color: #ecebeb;">
                                    <h5 class="modal-title" id="copyModalLabel" style="display: inline;">کپی برنامه</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                            style="outline: none;">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="id" name="id" value=""/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name" class="col-form-label">نام برنامه جدید</label>
                                        <input type="text" class="form-control" id="name" name="name" value=""
                                               style="border-radius: 2px;"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="timeType" class="col-form-label">زمانبندی</label>
                                                <select name="timeType" id="timeType" disabled>
                                                    <option value="TWO_HOURS">2 ساعت</option>
                                                    <option value="ONE_THIRTY_HOURS">1 ساعت و 30 دقیقه</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn" data-dismiss="modal" style="outline: none;">
                                        انصراف
                                    </button>
                                    <input type="submit" class="btn btn-primary" value="کپی" style="outline: none;"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--End copy form-->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <aside th:replace="layouts/planninglayout :: footer"></aside>
    <aside th:replace="layouts/planninglayout :: settings"></aside>
    <aside th:replace="layouts/planninglayout :: sidebar"></aside>
</div>


<!-- Bootstrap 3.3.7 -->
<script th:src="@{../bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- App -->
<script th:src="@{../dist/js/adminlte.min.js}"></script>

</body>

</html>